.departure table {
    padding-left: 0;
    padding-right: 10px;
    font-size: 80%;
}

.departure .delay {
    padding-left: 10px;
}

.departure .delay.color { 
    color: red;
}

.departure .nodelay {
    padding-left: 10px;
}

.departure .nodelay.color {
    color: greenyellow;
}

.departure .number {
    padding-left: 10px;

}
.departure .direction {
    padding-left: 10px;
    text-align: left;
}
